# Servidor
PORT=3003
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=ms_mascotas

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=sanos_y_salvos_events

# Almacenamiento de imágenes
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=5

# JWT (solo para validación del token recibido desde el Gateway)
JWT_SECRET=supersecreto
